<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <script src = '/jquery-3.2.1.min.js'></script>
    <script src = '/interface.js'></script>

  </head>

  <body>
    <div class="container">
      <h2>My Bookings</h2>

      <ul id='bookings'>
        <% @bookings.each do |booking| %>

            <p>Name:
              <a href = "/spaces/<%= booking.space.id %>"><%= booking.space.name%></a></p>
            <p>Description:
              <%= booking.space.description %></p>
            <p>Price: £<%= format('%.2f', booking.space.price) %></p>
            <p>Check-in date:
              <%= booking.start_date %></p>
            <p>Check-out date:
              <%= booking.end_date %></p>
              <% if booking.confirmed == true %>
                  Booking confirmed
              <% else %>
                  Pending
              <% end %>
        <% end %>

      </ul>
    </div>


  </body>
</html>
