<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <script src = 'jquery-3.2.1.min.js'></script>
    <script src = 'interface.js'></script>

  </head>

  <body>
    <h1>Makersbnb<h1>
    <h2>Bookings<h2>

    <ul id='bookings'>
      <% @bookings.each do |space| %>

          <p>Name:
            <a href = "bookings/<%= booking.id %>"><%= booking.space.name%></a></p>
          <p>Description:
            <%= booking.space.description %></p>
          <p>Price: £<%= format('%.2f', booking.space.price) %></p>
          <p>Check-in date:
            <%= booking.date_range.first %></p>
          <p>Check-out date:
            <%= booking.date_range.last %></p>

      <% end %>
    </ul>

    <button id= 'refresh' >Refresh</button>

  </body>
</html>
